# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v2.0. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader" and USB communication. Also,
# select "Enable extra low-level configuration options" and configure
# "GPIO pins to set at micro-controller startup" to "!PA14".

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[include mainsail.cfg]
[include config_backup.cfg]
[include leds.cfg]
[include steppers.cfg]
[include hotend.cfg]
[include bed_heater.cfg]
[include sensors.cfg]
[include macros_GM.cfg]
[include macros_misc.cfg]
[include macros_start_end.cfg]
[include macros_pause_resume_reload.cfg]
[include heatsoak.cfg]

[display_status]
[exclude_object]
[pause_resume]

[virtual_sdcard]
path: /home/rokapi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_31FFD8054250373933530657-if00

[static_digital_output usb_pullup_enable]
pins: !PA14

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8,  EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB15, EXP1_10=<5V>

[mcu EBBCan]
canbus_uuid: d4adf3e8844b

[printer]
kinematics: corexy
max_velocity: 200
max_accel: 7000
max_z_velocity: 5
max_z_accel: 100

[input_shaper]
shaper_freq_x: 67.2
shaper_type_x: mzv
shaper_freq_y: 58.2
shaper_type_y: mzv

[idle_timeout]
# A list of G-Code commands to execute on an idle timeout. See docs/Command_Templates.md for G-Code format.
# The default is to run"TURN_OFF_HEATERS" and "M84".
#gcode:

# Idle time (in seconds) to wait before running the above G-Code commands. The default is 600 seconds.
timeout: 600

[temperature_fan bttpi_fan]
pin: PC7
sensor_type: temperature_host
max_temp: 80.0                #Set below 85C, MCU can be damaged at 85C
target_temp: 45.0             #Set this to your preferred running temperature
min_temp: 0
shutdown_speed: 0.0
kick_start_time: 0.5
off_below: 0.19
max_speed: 0.6
min_speed: 0.1
control: pid
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0